* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color: rgb(36, 90, 90);
}

.log-table {
    float: left;
    color: black;
    width: auto;
    height: auto;
    margin: 5px;
    min-width: 500px;
    min-height: 300px;
    text-align: center;
    /* font-size: 1.5vw; */
    background-color: rgb(171, 143, 187);
}

.log-table .grid {
    padding: 3%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.item {
    float: left;
    margin: 2px;
}

.item * {
    margin: 0%;
    padding: 1px;
}

.item .key {
    border: 2px solid black;
}

.item .value {
    border: 1px solid black;
}

@media screen and (max-width: 25cm) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
    .log-table {
        margin: 2px;
    }
}

@media screen and (max-width: 15cm) {
    body {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
}
