## Add custom options here

## Distributed Erlang Options
##  The cookie needs to be configured prior to vm boot for
##  for read only filesystem.

-setcookie <%= @release.options[:cookie] %>

## Use Ctrl-C to interrupt the current shell rather than invoking the emulator's
## break handler and possibly exiting the VM.
+Bc

# Allow time warps so that the Erlang system time can more closely match the
# OS system time.
+C multi_time_warp

## Load code at system startup
## See http://erlang.org/doc/system_principles/system_principles.html#code-loading-strategy
-mode embedded

## Disable scheduler busy wait to reduce idle CPU usage and avoid delaying
## other OS processes. See http://erlang.org/doc/man/erl.html#+sbwt
+sbwt none
+sbwtdcpu none
+sbwtdio none

## Save the shell history between reboots
## See http://erlang.org/doc/man/kernel_app.html for additional options
-kernel shell_history enabled

## Enable heartbeat monitoring of the Erlang runtime system
-heart -env HEART_BEAT_TIMEOUT 30

## Start the Elixir shell

-noshell
-user Elixir.IEx.CLI

## Enable colors in the shell
-elixir ansi_enabled true

## Options added after -extra are interpreted as plain arguments and can be
## retrieved using :init.get_plain_arguments(). Options before the "--" are
## interpreted by Elixir and anything afterwards is left around for other IEx
## and user applications.
-extra --no-halt
--
--dot-iex /etc/iex.exs